[Desktop Entry]
Type=Application
Version=1.0
Name=Vendace
Comment=Screenshot cropper and uploader
Categories=Graphics;Utility
Exec=${CMAKE_INSTALL_PREFIX}/bin/vendace
Icon=vendace

